<%
  var pending_users = [];
  var active_users  = [];
  var banned_users  = [];
  users.forEach(function(user) {
    if(user.isValidated())
      active_users.push(user);
    else if(user.isPending())
      pending_users.push(user);
    else
      banned_users.push(user);
  })
%>

<h1>Admin</h1>

<div class="content-block">
  <h2>Pending requests</h2>
  <% if(pending_users.empty()) { %>
    <p>No pending requests.</p>
  <% } else { %>
    <table>
      <tr>
        <th>Who</th>
        <th>When</th>
        <th>Actions</th>
      </tr>
      <% pending_users.forEach(function(pending_user) { %>
        <tr>
          <td><%= pending_user.pseudo %></td>
          <td><%= renderDate(pending_user.createdOn) %></td>
          <td>
            <a href="<%= routing.generate(routes.admin.pending_request.accept, {id: pending_user._id}) %>" style="color: blue">Accept</a>
            |
            <a href="<%= routing.generate(routes.admin.pending_request.refuse, {id: pending_user._id}) %>" style="color: red">Refuse</a>
          </td>
        </tr>
      <% }) %>
    </table>
  <% } %>
</div>

<div class="content-block">
  <h2>Last 10 downloads</h2>
  <table>
    <tr>
      <th>Downloader</th>
      <th>What</th>
      <th>When</th>
    </tr>
    <% last_downloads.forEach(function(last_download) { %>
      <tr>
        <td><%= last_download.user.pseudo %></td>
        <td><a href="<%= routing.generate(routes.downloadable.view, {id: last_download.download._id}) %>"><%= last_download.download.name %></a></td>
        <td><%= renderDate(last_download.downloaded_on) %></td>
      </tr>
    <% }) %>
  </table>
</div>

<div class="content-block">
  <h2>Last 10 uploads</h2>
  <table>
    <tr>
      <th>Uploader</th>
      <th>What</th>
      <th>When</th>
    </tr>
    <% last_uploads.forEach(function(last_upload) { %>
      <tr>
        <td><%= last_upload.uploader.pseudo %></td>
        <td><a href="<%= routing.generate(routes.downloadable.view, {id: last_upload._id}) %>"><%= last_upload.name %></a></td>
        <td><%= renderDate(last_upload.uploaded_on) %></td>
      </tr>
    <% }) %>
  </table>
</div>

<div class="content-block">
  <h2>Users</h2>
  <ul>
    <h3>Active users</h3>
    <% active_users.forEach(function(active_user) { %>
      <li>
        <%= active_user.pseudo %> - <%= renderDate(active_user.lastConnectedOn) %> -
        <form method="post" action="<%= routes.admin.ban_user.route %>" style="display: inline-block;">
          <input type="hidden" name="id" value="<%= active_user._id %>">
          <input type="button" class="ban-form-submit" value="Ban" style="color: red;">
        </form>
      </li>
    <% }) %>
    <h3>Banned users</h3>
    <% banned_users.forEach(function(banned_user) { %>
      <li>
        <%= banned_user.pseudo %> - <%= renderDate(banned_user.lastConnectedOn) %> -
        <form method="post" action="<%= routes.admin.unban_user.route %>" style="display: inline-block;">
          <input type="hidden" name="id" value="<%= banned_user._id %>">
          <input type="button" class="ban-form-submit" value="Unban" style="color: green;">
        </form>
        </li>
    <% }) %>
  </ul>
</div>

<form class="content-block" method="post" action="<%= routes.admin.create_news.route %>">
  <h2>Create news</h2>
  <textarea name="text"></textarea>
  <br/>
  <input type="submit" value="Post news">
</form>

<script>
$(document).ready(function() {
  $('.ban-form-submit').click(function() {
    if(confirm('Are you sure?'))
      $(this).parents('form').submit();
  });
});
</script>
