<h1><span class="fa fa-file"></span><%= downloadable.name %></h1>

<div class="content-block">
  <div>
    <a href="<%= routing.generate(routes.downloadable.download, {id: downloadable._id}) %>">
      <span class="fa fa-download" style="margin-right: 0px;"></span>
      DOWNLOAD
    </a>
    <a href="<%= routing.generate(routes.downloadable.report, {id: downloadable._id}) %>" class="report" title="Click here to report this file. An administrator will review it then may remove it">
      <span class="fa fa-warning" style="margin-right: 0px;"></span>
      REPORT
    </a>
    <% if(downloadable.hasExtra('subtitle')) { %>
      <a href="<%= routing.generate(routes.downloadable.download_extra, {id: downloadable._id, extra: 'subtitle'}) %>">English Subtitles</a>
    <% } %>
  </div>
  <p>Uploaded by <strong><%= downloadable.uploader.pseudo %></strong> the <%= renderDate(downloadable.uploaded_on) %></p>
</div>

<div class="content-block">
  <h2>Tags</h2>
  <% if(downloadable.tags.empty()) { %>
    <p>No tag yet. Please add a tag to help the community!</p>
  <% } else { %>
    <p>
      <% downloadable.tags.forEach(function(tag) { %>
        <span class="tag"><%= tag.name %></span>
      <% }) %>
    </p>
  <% } %>
</div>

<div class="ratings">
  <h2>Ratings</h2>
  <h3>Your rate</h3>
  <div class="user-rating" style="display:inline-block;">
    <%- include('./partials/rating', {rating: user_rating, id: downloadable._id}) %>
    <span style="display:none" class="info">Updated!</span>
  </div>
  <h3>Other rates</h3>
  <%
  var other_ratings = downloadable.ratings
                      .removeIf(function(rating) { return rating.user._id.toString() === user._id.toString(); })
                      .sort(function(a, b) { return a.rate < b.rate; });
  %>
  <% if(other_ratings.empty()) { %>
    <p>No ratings yet. Be the first one to rate it!</p>
  <% } else { %>
    <ul>
      <% other_ratings.forEach(function(user_rating) { %>
        <li><%- include('./partials/rating', {rating: user_rating}) %></li>
      <% }) %>
    </ul>
  <% } %>
</div>

<div class="content-block">
  <h2>Comments</h2>
  <% if(downloadable.comments.empty()) { %>
    <p>No comments yet.</p>
  <% } else { %>
    <% downloadable.comments.forEach(function(comment) { %>
      <fieldset class="comment">
        <legend><%= comment.user.pseudo %></legend>
        <p class="text"><%= comment.text %></p>
        <p class="date">The <%= renderDate(comment.commented_on) %></p>
      </fieldset>
    <% }) %>
  <% } %>
</div>

<script>
$(document).ready(function() {
  $('.user-rating .rating').mouseover(function() {
    var $self = $(this);
    var found = false;
    $(this).parent().children('.rating').each(function() {
      if(found)
        $(this).removeClass('fa-star').addClass('fa-star-o');
      else {
        $(this).removeClass('fa-star-o').addClass('fa-star');
        found = $(this).data('star-offset') == $self.data('star-offset');
      }
    });
  }).click(function() {
    var $self   = $(this);
    var id      = $(this).data('object-id');
    var rate    = parseInt($(this).data('star-offset'));
    var raw_url = '<%= routes.downloadable.rate.route %>';
    var url     = raw_url.replace(':id', id).replace(':rate', rate);

    // Update class for each rating star
    $(this).parent().children('.rating').each(function(index) {
      $(this).removeClass('fa-star').removeClass('fa-star-o');
      var new_class = (index < rate) ? 'fa-star' : 'fa-star-o';
      $(this).addClass(new_class);
      $(this).data('star-original-class', new_class);
    });

    // Send query to server
    $.ajax(url)
    .done(function(msg) {
      $self.parent().find('.info').fadeIn('slow').delay(500).fadeOut('slow');
    })
    .fail(function(jqXHR, textStatus) {
      alert(textStatus);
    });
  });

  $('.user-rating').mouseleave(function() {
    $(this).children('.rating').each(function() {
      $(this).removeClass('fa-star')
             .removeClass('fa-star-o')
             .addClass( $(this).data('star-original-class') )
    });
  });
});
</script>
